*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px; /* used to activate z axis */
}
h1{
    color: white;
    position: absolute;
    top: 6rem;
    /* top: 5rem; */
    font-size: 8rem;
    text-shadow: 5px, 5px , 10px rgba(0, 0, 0,0.3) ;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 4rem;
    padding:0 10rem
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; /*used for 3d transform*/
    height: 100%;
    z-index: -1; /* it is used for overlapping */
}


.background{
    transform: translateZ(-50px) scale(6);
}
.foreground{
    transform: translateZ(-25px) scale(4);
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; /* used to set the content over 2nd content*/
    object-fit: cover;
}

section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}

.sec2{
    position: absolute;
    background-color: white;
    padding: 0.5rem 3.5rem;
    top: 30%;
    left:60%;
    transform: translateX(-50%) translateX(-50%) ;
    color: black;
    font-size: 3.5rem;
    border-radius: 5px;
    font-weight: 500px;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;

}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed; /* fixed an image in bg on a point for scrolling*/
    height: 500px;
    background-size: cover; /* used for bg fit in container*/
    background-position: center; /* used for center the image in container*/
}

.fg1{
    background-image: url(https://images.unsplash.com/photo-1607734834519-d8576ae60ea6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmlyYXQlMjBraG9saXxlbnwwfHwwfHx8MA%3D%3D);
}
.fg2{
    background-image: url(https://images.unsplash.com/photo-1662376107358-21296a9234f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJlbSUyMG1hbmRpcnxlbnwwfHwwfHx8MA%3D%3D);
}
.fg3{
    background-image: url(https://images.unsplash.com/photo-1636543109291-e024686b71a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8b2x5bXBpY3N8ZW58MHx8MHx8fDA%3D);
}